<div class="container mt-3">
  <div class="ml-4">
<h4>Editing Notebook
<%= link_to  @notebook, class: 'btn btn-outline-info' do %>
  <i class="fa-solid fa-eye"></i>
  <% end %>
</div>
</h4>
<%= render 'form', notebook: @notebook %>
</div>
</div>


