<div class="typogphy h1">Getting Started 👋</div><br />
<div class="typogphy h4"> Welcome to Journal It!🥳
</div>
<br />

Here are some tips for you to get started:<br />

<li> Create Notebooks by clicking the <i class="fa-solid fa-circle-plus "></i><br />
<li> You can view all your notes by clicking  <a href="/notebooks" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-book fa-sm text-white-50"></i> View Notebooks</a> or by clicking  My Notebooks from the sidebar. </li>

<li>Multiple types of notebooks can be created according to your preference. Some examples are:
<br>
<br>
    <ul class="list-group">
  <li class="list-group-item list-group-item-warning">Gratitude Journal</li>
  <li class="list-group-item list-group-item-primary">Reflective Journals</li>
  <li class="list-group-item list-group-item-secondary">Daily Life Journals</li>
  <li class="list-group-item list-group-item-success">Blank Canvas Journals</li>
  <li class="list-group-item list-group-item-danger">Travel Journal</li>
  <li class="list-group-item list-group-item-info">Vision Journal</li>
  <li class="list-group-item list-group-item-dark">Personal Development Journal</li>
</ul>
<br>

    <div class="typography h1">Happy Journalling!!!!</div>


  </div>

</div>
