<div class="typogphy h1">Getting Started 👋</div><br />
<div class="typogphy h4"> Welcome to Journal It!🥳
</div>
<br />

Here are some tips for you to get started:<br />

<li> Create Notebooks by clicking the <i class="fa-solid fa-circle-plus "></i><br />
<li> You can view all your notes by clicking  <a href="/notebooks" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-book fa-sm text-white-50"></i> View Notebooks</a> or by clicking  My Notebooks from the sidebar. </li>

<li>Multiple types of notebooks can be created according to your preference. Some examples are:
    <div class="list-group">

      <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Reflective Journals</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Daily Life Journals</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Blank Canvas Journals</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">Travel Journal</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Vision Journal</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-info">Personal Development Journal</a>
      <br />
    </div>


    <div class="typography h1">Happy Journalling!!!!</div>


  </div>

</div>
