    <div class="buttons ">
      <%= link_to new_notebook_path, class: 'btn btn-primary float-right',data: {toggle: 'modal', target: '#newNotebookModal', remote: true} do %>
        <i class="fa-solid fa-circle-plus ">New Notebook</i>
      <% end %>
    </div>
