<div class="container mt-2">

<%= render 'form', notebook: @notebook %>

<div class="ml-4 mt-2">
  <%= link_to notebooks_path,class: 'btn btn-outline-secondary' do %>
  <i class="fa-solid fa-arrow-left-long"></i>
  <% end %>
</div>
</div>
