        <div class="position-relative footer-main ">
 <div class="d-flex flex-column h-100">

<!-- FOOTER -->
    <footer class="w-100 py-3 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
        <div class="container copyright text-center my-auto">

<ul class="footer-menu">
<a class="footer-link" href="/" target="_blank">Homepage</a>&nbsp | &nbsp
<a class="footer-link" href="/contacts/new" target="_blank">Contact</a>&nbsp | &nbsp
<a class="footer-link" href="/home" target="_blank">FAQ</a>&nbsp | &nbsp
<a class="footer-link" href="/index" target="_blank">Terms of Use</a>

</ul>
</div>

            </div>
        </div>
    </footer>
</div>
</div>
