<!-- Topbar -->
<header style="background-color: #2b2a2b;">
  <a id="home"></a>
  <div id="logo">
    <a href="/">
      <%= image_tag("JournalIt.png",width:"75", height:"75" ,class: "rounded-circle",alt:"")%>
      &nbsp;
      Journal It
  </div>
</header>
