<!-- New Notebook Modal -->
<div class="modal fade" id="newNotebookModal" tabindex="-1" aria-labelledby="newNotebookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newNotebookModalLabel">New Notebook</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
        <%= form_with(model: Notebook.new) do |form| %>
          <div class="field mb-2 mt-2">
            <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
          </div>
          <div class="modal-footer">
            <div class="actions">
              <%= form.submit class: 'btn btn-primary'%>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
