<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->

  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/"> </a>
  </li>
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group mr-2">
      <%= form_with url: notebooks_path, method: :get do |form| %>
        <%= form.search_field :query, placeholder: 'Search...', class: 'form-control' %>
      <% end %>
    </div>
  </form>
  <br>
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading"> New Notebook
    <div class="buttons ">
      <%= link_to new_notebook_path, class: 'btn btn-outline-info' do %> <i class="fa-solid fa-circle-plus "></i>
        <% end %>
    </div>
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> <i class="fa-solid fa-book-journal-whills"></i>Notebooks </a>
    <a class="nav-link collapsed" href="/notebooks" aria-expanded="true" aria-controls="collapseTwo"> <i class="fa-solid fa-book-journal-whills"></i>My Notebooks </a>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <% @notebooks.each do |notebook| %>
          <div class="btn-group"> <i class="fa-solid fa-book"></i>
            <%= link_to notebook.title,notebook,class: "dropdown-item "%><br>
          </div>
        <% end %>
      </div>
    </div>
  </li>
  <div class="sidebar-card d-none d-lg-flex">
    <p class="text-center mb-2"><strong>Journal It</strong>: Express your thoughts and feelings freely.</p>
  </div>
</ul>
