
  <div class="page-break">

<div class="wrapper">
   <b>PDF Created At: <%= DateTime.now %></b>
  <p>
    <strong>POST ID: <%= @page.id%> </strong>


  </p>

</div>
  <h2> <%= @page.title %></h2>
  <p><%= @page.content %></p>

  </div>
