
  <div class="page-break">

<div class="wrapper">
   <b>PDF Created At: <%= DateTime.now %></b>
  <p>


  </p>

</div>
  <h2> <%= @page.title %></h2>
  <p> <%= strip_tags(@page.content) %></p>

  </div>
