<div class="cursive h1 align-items-center justify-content-between">Contact Form</div><br />

  <h3>Thank you for your message!</h3>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
