<section class="content" id="faq">
  <div class="container">
  <div class="inner">
    <h1>
        FAQ       <i class="title_line"></i>
      </h1>
    <h2>FAQ about the online notebook and free private <b>Journal It</b></h2> The most frequently asked questions are answered here.</p>
    <h3>What can I use <b> Journal it </b> for?</h3> <b> Journal it </b> allows you to create private entries of any sort, which are securely encrypted and hidden from watchful eyes. The safe online diary may be used as a personal diary or journal, a virtual notebook, or a place to store random thoughts and ideas. All you need is an Internet connection to utilize <b> Journal it </b>. You can get to your information from anywhere on the internet.</p>
    <br>
    <h3>Can my journal notes be watched by others?</h3> No, <b>Journal It</b> is just for personal use, and only you have access to your entries. The program doesn't really, in theory, have any capabilities that allow for the publication or exchange of entries. This keeps your information private from prying eyes. Just as in an old-fashioned paper notebook</p>
    <br>
    <h3>Does <b>Journal It</b> also run on my smartphone or tablet PC?</h3> Yes, <b>Journal It</b> runs on all common mobile browsers are supported so that Journal It’s complete range of functions can also be used on&nbsp;smartphones and&nbsp;tablets.
    <br>
    <h3>Which browser should I use for <b>Journal It</b>?</h3> <b> Journal it </b> works with the following browsers: Firefox (from 3.5), Chrome, Internet Explorer (from 10.0), Safari (from 4.0), Opera (from 10.6), iOS Safari (from 5.0), Opera Mobile (from 11.0), Chrome for Android, Firefox for Android.</p>
    <h3>How can I print or export my entries?</h3>
    <p>Use Journal It’s <strong>print function</strong> to print individual entries to PDF.</p>
    <p>Use <b> Journal it </b>’s <strong>print pdfs function </strong> under Notebooks to download your journal notes of a notebook as one file and store them as clear text on your computer. PDF export format is available right now, and soon other formats will also be live.</p>
    <br>
    <p> <b>Journal It</b> does not have an import function at the moment.</p>
    <h3>Can I keep several journals in one account?</h3> Yes. <b> Journal it </b> offers you the possibility to create different notebooks for different kinds of entries. This allows you to categorize them by keeping daily life chronicles in one notebook, study materials in another notebook and so on.</p>
    <br>
    <h3>I forgot to log out of my account. Can others who use the computer after me read my entries?</h3> No. The application will automatically log you out if you remain inactive for more than 5 minutes. If there are no mouse or keypad touches, the session will be deemed inactive and the user will be required to sign in again.</p>
    <br>
    <h3>Is <b>Journal It</b> really free of charge?</h3>
    <p>Yes, It is completely free of charge. However, if you would like to donate for this site's growth and server performance, you can contact me through the contact page.</p>
    <p>&nbsp;</p>
    <p>Didn't feel like you got your answer? Use the <a title="Contact" href="/contacts/new">contact form</a> to send Journal It a message.</p>
  </div>
  </div>
</section>
