<section class="content" id="terms-of-use">
  <div class="container">
  <div class="inner">
          <h1>
        Terms of use        <i class="title_line"></i>
      </h1>

<p>By registering as a user of <b> Journal it </b>, you accept the following terms of use.</p>

<h3>Subject matter</h3>
<p>These terms of use define the conditions under which <b> Journal it </b> may be used.</p>

<p><b> Journal it </b> is a web-based journaling application that allows users to create accounts and keep track of their activities. </p><p> In the event of non-compliance with the application's terms of service or misuse, b> Journal it/b> retains the right to block the user's account and, if required, to destroy it.</p>

<p> <b>Journal it </b> has the right to change the terms of service at any moment. The user will be notified of the revised version of the terms of service by <b>Journal it </b>. The person agrees to the updated terms of service by continuing to use his or her profile.
</p>



<h3>Availability of <b> Journal It </b></h3>
<p> It is not possible to guarantee uninterrupted usage or availability of <b> Journal it </b>. Required maintenance, security concerns, or capacity issues beyond the control of b> Journal it </b> can all cause brief service outages. <b> Journal it </b> will, nonetheless, make every effort to keep the program up and running as much as feasible. </p>
<h3>User account</h3>
<p> The user must have access to data in order to utilize b> Journal it /b> (an email address, an optional login alias and a password). </p>
<p>
If there are any evidence of third-party exploitation of his user account, the user must promptly tell <b> Journal it </b>.  Never will <b>Journal it </b> ask for the user's password. If the user, deliberately or inadvertently, consciously or innocently, allows other persons to access his user account by using his password, the user states that he is liable for any repercussions resulting from any form of abuse or harm. Users will be held accountable for all acts carried out under their user account in general. </p>

<p> To fully utilize the services provided by <b> Journal it </b>, the user will have to use current (browser) technology. If an older or less widely utilized technology is employed, the user may only be capable to use a portion of the features offered by <b> Journal it </b>. For browser-specific constraints, please see the FAQs. </p>
<h3> Pricing</h3>
<p>
The application <b> Journal it </b> now is available for free. <b> Journal it</b>, on the other hand, maintains the ability to launch new premium products in the future. </p>
  <br>
<h3>Liability restrictions</h3> <p><b> Journal it</b> assumes no responsibility for any data loss or damage that occurs as a result of using this application. Similarly, no responsibility is held for harm caused by unauthorized access. <b> Journal it </b> also disclaims any responsibility for user-generated content or a user's real identity. For damages caused by willful purpose or severe negligence,<b>  Journal it</b> will be held accountable. </p>

<h3>Data protection privacy </h3>

<p><h3>Data security</h3>

Despite regular data backups, b> Journal it/b> cannot rule out the potential of data loss, especially in the event of force majeure or third-party illegal activity. <b> As a result, Journal it</b> will not be accountable for any data loss. </p>

<h3> User account cancellation and deletion</h3> <p>
If a user no longer wishes to use <b> Journal it </b>, he may de-register under Edit Profile Details at any moment without cause to end the user agreement.
</p>


<h3>Final provisions</h3>
<p>
The validity of the other terms of this agreement will not be affected if one of them is or becomes entirely or partially invalid. The provider's domicile is the place of jurisdiction. </p>
  </div>
</div>
</section>
